<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap.min.css')}} " >
    <title>关于</title>
    <style>
        p{
            padding-bottom: 30px;
        }

    </style>
</head>
<body>
<div class="container content">
    <h3>关于作者</h3>
    <hr>
    <p>
        我叫何涛,是一名初级程序员,之前从事.net程序开发,现在转战python.
    </p>
    <h3>关于博客</h3>
    <hr>
    <p>
        博客部署在一台搬瓦工的服务器上,用Python部署的一个简单网站,后续再逐渐完善吧.弄博客的初衷是希望用Python完成一个完整的项目,
        再来就是一直没有类似的博客去记录一些平时总结性的东西.
    </p>
    <h3>联系作者</h3>
    <hr>
    <ul>
        <li>电子邮箱：09appleht@gmail.com</li>
        <li>微信号：hupo794</li>
    </ul>

</div>
</body>
</html>