<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Ht's Blog</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap.min.css')}}" >
    <style>
        body{
            padding-top: 50px;
        }
        .abs{
            padding: 20px 20px 20px 20px;
            text-align: left;
        }
        .my{
            padding-bottom: 50px;
            text-align: left;
        }
        .allpost{
            padding-bottom: 50px;
            text-align: left;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a href="#" class="navbar-brand"> 何  涛 </a>
            </div>

            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active" href="/hello/1"><a>Home</a></li>
                </ul>
            </div>
        </div>
    </nav>

<div class="container">

    <div class="abs">
        <div class="row">
            <div class="col-sm-8 blog-main" style="padding: 20px 20px 20px 20px">
                {% for post in posts %}
                    <h3><p class="blog-post-title"><a href="/post/{{ post.title }}">{{ post.title }} </a></p></h3>
                    <p class="blog-post-meta">
                        {{ post.time }} By <a href="#"> {{ post.author.name }} </a>
                    </p>
                <p>
                {{ post.body }}
                </p>
                {% endfor %}

                <nav>
                    <ul class="pager">
                        <li>
                            <a {% if int(pageN) != 1 %} href="/hello/{{ int(pageN) - 1 }}"
                            {% else %} href="#" {% endif %}>Previous</a>

                        </li>
                        <li>
                            <a {% if int(pageN) != int(pageNum) %} href="/hello/{{ int(pageN) + 1 }}"
                            {% else %} href="#" {% endif %}>Next</a>

                        </li>
                    </ul>
                </nav>

            </div>

            <div class="col-sm-3 col-sm-offset-1 blog-sideber">
                <div class="sidebar-module sidebar-module-inset">
                    <div class="my">
                        <h4>About Author</h4>
                        <h6> 何  涛 </h6>
                        <h6>415807795@qq.com</h6>
                        <a>github</a>
                    </div>
                </div>
                <div class="sidebar-module">
                    <div class="allpost">
                        <h4>最近更新</h4>
                        <ol class="list-unstyled">
                        {% for tit in listTit %}
                            <li><a href="/post/{{ tit.title }}">{{ tit.title }}</a></li>
                        {% endfor %}
                    </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>