<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Ht's Blog</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap.min.css')}}" >
    <style>
        body{
            padding-top: 50px;
            background-color:#DCDCDC
        }
        .abs{
            padding: 0px 20px 20px 20px;
        }
        .box{
            width:560px;height:144px;line-height:30px;overflow:hidden;display:block;
        }
        pre{
            white-space:pre-wrap;
            white-space:-moz-pre-wrap;
            white-space:-o-pre-wrap;
            word-wrap:break-word;
        }
    </style>
</head>
<body>
<div class="header-container" style="background: linear-gradient(rgba(0, 0, 0, 2), rgba(0, 0, 0, 2)), url('https://foofish.net/images/peitu/jacob-repko-64098.jpg'); background-position: center; background-size: cover;">


    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a href="#" class="navbar-brand"> 何  涛 </a>
            </div>

            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active" href="/hello/1"><a>Home</a></li>
                </ul>
            </div>
        </div>
    </nav>

</div>

<div class="container">

    <div  style="padding: 20px 20px 20px 20px;border-style: none ;text-align: center">
    <h3 id="content" style="text-align: left ">最近更新:</h3>
    <hr>
        <div class="archive-container" style="text-align: center ">
            {% for post in posts %}
                <div>
                    <h4><p class="blog-post-title">{{ post.time }} &nbsp;&nbsp;&nbsp;&nbsp; <a href="/post/{{ post.title }}">{{ post.title }} </a></p></h4>

                </div>
            {% endfor %}

            <nav>
                <ul class="pager">
                    <li>
                        <a {% if int(pageN) != 1 %} href="/hello/{{ int(pageN) - 1 }}"
                        {% else %} href="#" {% endif %}>Previous</a>

                    </li>
                    <li>
                        <a {% if int(pageN) != int(pageNum) %} href="/hello/{{ int(pageN) + 1 }}"
                        {% else %} href="#" {% endif %}>Next</a>

                    </li>
                </ul>
            </nav>
        </div>
    </div>

</div>

</body>
</html>