<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post[0].title }}</title>
    <style>
        pre{
            white-space:pre-wrap;
            white-space:-moz-pre-wrap;
            white-space:-o-pre-wrap;
            word-wrap:break-word;
        }

    </style>
</head>
<body>
    <div style="padding: 2% 8% 5% 8%; border: 1px solid LightGrey">
        <div>
            <h2>{{ post[0].title }}</h2>
        </div>
        <hr>
        <div id="tend" style="word-wrap: break-word;white-space : normal  ">
            <pre>{{ post[0].body | safe}}</pre>
        </div>

    </div>
<script type="text/javascript">

</script>
</body>
</html>