<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post[0].title }}</title>
    <script type="text/javascript" src="showdown.min.js"></script>
    <style>
        pre{
            white-space:pre-wrap;
            white-space:-moz-pre-wrap;
            white-space:-o-pre-wrap;
            word-wrap:break-word;
        }

    </style>
</head>
<body>
    <div style="padding: 2% 8% 5% 8%; border: 1px solid LightGrey">
        <div>
            <h2>{{ post[0].title }}</h2>
        </div>
        <hr>
        <div id="tend" style="word-wrap: break-word;white-space : normal  ">
            <pre><body>{{ post[0].body }}</body></pre>
        </div>


    </div>
<script type="text/javascript">
    function compile(){
        var text = document.getElementById("tend").value;
        var converter = new showdown.Converter();
        var html = converter.makeHtml(text);
        document.getElementById("result").innerHTML = html;
    }


</script>
</body>
</html>